<div class="section section-gray section-clients">
	<div class="container">
		<h2 class="section-title">Our Clients</h2>
		<div class="clients-presentation">
			<div class="row">
				<div class="col-md-3">
					<div class="info">
						<div class="icon">
							<i class="fa fa-apple"></i>
						</div>
						<div class="description">
							<h3> Apple </h3>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon">
							<i class="fa fa-windows"></i>
						</div>
						<div class="description">
							<h3> Microsoft </h3>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon">
							<i class="fa fa-yelp"></i>
						</div>
						<div class="description">
							<h3> Yelp </h3>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="info">
						<div class="icon">
							<i class="fa fa-dropbox"></i>
						</div>
						<div class="description">
							<h3> Dropbox </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- end section meet our clients -->