<div class="section section-gray section-faq">
	<div class="container">
		<h3 class="section-title">Frequently Asked Questions</h3>
		<div class="row">
			<div class="col-md-6">
				<h5>How long are your contracts?</h5>
				We re-styled every Bootstrap element and make it look consistent with each other. We worked over all the basic
				elements, including buttons, headers, footers, labels, pagination and many others and made them look
				outstanding.
			
			</div>
			<div class="col-md-6">
				<h5>Is there a discount for yearly service?</h5>
				We worked over all the basic elements, including buttons, social buttons, morphing buttons, inputs, headers,
				footers, labels, pagination and many others and made them look outstanding. Everything you need to start your
				website is right here!
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>How do I sign up?</h5>
				We worked over all the basic elements, including buttons, social buttons, morphing buttons, inputs, headers,
				footers, labels, pagination and many others and made them look outstanding. Everything you need to start your
				website is right here!
			</div>
			<div class="col-md-6">
				<h5>How long are your contracts?</h5>
				We re-styled every Bootstrap element and make it look consistent with each other. We worked over all the basic
				elements, including buttons, headers, footers, labels, pagination and many others and made them look
				outstanding.
			</div>
		</div>
	</div>
</div>