<div class="section">
	<div class="container">
		<div class="big-info">
			<h3 class="section-title">Price Cards
				<small> (example 2)</small>
			</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-price card-separator card-plain">
					<div class="content">
						<h6 class="category">Coder Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>HTML/CSS/JS</b> Files
							</li>
							<li>
								<b>SASS/LESS</b> Files
							</li>
							<li>
								<b>50+</b> Components
							</li>
							<li>
								<b>Responsive</b> Design
							</li>
							<li>
								<b>Full</b> Documentation
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price card-separator card-plain">
					<div class="content">
						<h6 class="category">Hero Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							69
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>Coder</b> Package
							</li>
							<li>
								<b>Designer</b> Package
							</li>
							<li>
								<b>Best Price </b>Deal
							</li>
							<li>
								<b>Lifetime</b> Updates
							</li>
							<li>
								<b>Premium</b> Support
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-fill btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price card-plain">
					<div class="content">
						<h6 class="category">Desiger Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>PSD</b> Files
							</li>
							<li>
								Each component on <b>layers</b>
							</li>
							<li>
								<b>Swatch</b> colors and gradients
							</li>
							<li>
								New <b>icon</b> font
							</li>
							<li>
								<b>Full</b> Documentation
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
		</div> <!-- end row -->
	</div>
</div>