<div class="social-line social-line-black">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 class="title">Follow Us:</h4>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-social btn-neutral">
					<i class="fa fa-twitter"></i> Twitter
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-social btn-neutral">
					<i class="fa fa-dribbble"></i> Dribbble
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-social btn-neutral">
					<i class="fa fa-youtube-play"></i> Youtube
				</a>
			</div>
			<div class="col-md-2">
				<a href="" class="btn btn-simple btn-social btn-neutral">
					<i class="fa fa-google-plus-square"></i> Google+
				</a>
			</div>
		</div>
	</div>
</div>