
<footer class="footer footer-big footer-default top-border">
	<div class="container">
		<div class="social-area text-center">
			<h5>Join us on</h5>
			<a href="#" class="btn btn-social btn-round btn-facebook">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="#" class="btn btn-social btn-round btn-twitter">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="#" class="btn btn-social btn-round btn-google">
				<i class="fa fa-google-plus"></i>
			</a>
			<a href="#" class="btn btn-social btn-round btn-pinterest">
				<i class="fa fa-pinterest"></i>
			</a>
			<a href="#" class="btn btn-social btn-round btn-linkedin">
				<i class="fa fa-linkedin"></i>
			</a>
		</div>
		<div class="copyright">
			&copy; 2016 Creative Tim, made with love
		</div>
	</div>
</footer>