<div class="section section-gray">
	<div class="space"></div>
	<div class="container">
		<div class="big-info">
			<h2 class="text-center">Get Shit Done Kit Pro has a free demo <br>
				<small>If you like it, pick a plan that best fits your needs:</small>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-price">
					<div class="content">
						<h6 class="category">Coder Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled list-lines">
							<li>
								<i class="fa fa-comments"></i> <b>10,000</b> Messages
							</li>
							<li>
								<i class="fa fa-magic"></i> <b>500+</b> Elements
							</li>
							<li>
								<i class="fa fa-male"></i> <b>250</b> Users
							</li>
							<li>
								<i class="fa fa-level-up"></i> <b>Free</b> Updates
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price card-price-best-deal">
					<div class="content">
						<h6 class="category">Hero Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							69
						</h1>
						<ul class="list-unstyled list-lines">
							<li>
								<i class="fa fa-comments"></i> <b>Unlimited</b> Messages
							</li>
							<li>
								<i class="fa fa-magic"></i> <b>Unlimited</b> Elements
							</li>
							<li>
								<i class="fa fa-male"></i> <b>Unlimited</b> Users
							</li>
							<li>
								<i class="fa fa-dollar"></i> <b>Best Price</b> Deal
							</li>
							<li>
								<i class="fa fa-level-up"></i> <b>Free</b> Updates
							</li>
							<li>
								<i class="fa fa-phone"></i> <b>Premium</b> Support
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-fill btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price">
					<div class="content">
						<h6 class="category">Desiger Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled list-lines">
							<li>
								<i class="fa fa-comments"></i> <b>5,000</b> Messages
							</li>
							<li>
								<i class="fa fa-magic"></i> <b>700+</b> Elements
							</li>
							<li>
								<i class="fa fa-male"></i> <b>200</b> Users
							</li>
							<li>
								<i class="fa fa-level-up"></i> <b>Free</b> Updates
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			
			<div class="col-md-12">
				<div class="space-50"></div>
				<h4 class="text-center">Download your free version of Get Shit Done!
					<a href="http://www.creative-tim.com/get-shit-done" class="btn btn-default btn-fill">Download!</a>
				</h4>
			</div>
		</div> <!-- end row -->
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="big-info">
			<h3 class="section-title">Price Cards
				<small> (example 2)</small>
			</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-price card-separator card-plain">
					<div class="content">
						<h6 class="category">Coder Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>HTML/CSS/JS</b> Files
							</li>
							<li>
								<b>SASS/LESS</b> Files
							</li>
							<li>
								<b>50+</b> Components
							</li>
							<li>
								<b>Responsive</b> Design
							</li>
							<li>
								<b>Full</b> Documentation
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price card-separator card-plain">
					<div class="content">
						<h6 class="category">Hero Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							69
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>Coder</b> Package
							</li>
							<li>
								<b>Designer</b> Package
							</li>
							<li>
								<b>Best Price </b>Deal
							</li>
							<li>
								<b>Lifetime</b> Updates
							</li>
							<li>
								<b>Premium</b> Support
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-fill btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
			<div class="col-md-4">
				<div class="card card-price card-plain">
					<div class="content">
						<h6 class="category">Desiger Package</h6>
						<h1 class="price">
							<small>&euro;</small>
							39
						</h1>
						<ul class="list-unstyled">
							<li>
								<b>PSD</b> Files
							</li>
							<li>
								Each component on <b>layers</b>
							</li>
							<li>
								<b>Swatch</b> colors and gradients
							</li>
							<li>
								New <b>icon</b> font
							</li>
							<li>
								<b>Full</b> Documentation
							</li>
						</ul>
					</div>
					<div class="footer">
						<button type="button" class="btn btn-info btn-round btn-block">Buy now!</button>
					</div>
				</div> <!-- end card -->
			</div>
		</div> <!-- end row -->
	</div>
</div>

<div class="section section-gray section-faq">
	<div class="container">
		<h3 class="section-title">Frequently Asked Questions</h3>
		<div class="row">
			<div class="col-md-6">
				<h5>How long are your contracts?</h5>
				We re-styled every Bootstrap element and make it look consistent with each other. We worked over all the basic
				elements, including buttons, headers, footers, labels, pagination and many others and made them look
				outstanding.
			
			</div>
			<div class="col-md-6">
				<h5>Is there a discount for yearly service?</h5>
				We worked over all the basic elements, including buttons, social buttons, morphing buttons, inputs, headers,
				footers, labels, pagination and many others and made them look outstanding. Everything you need to start your
				website is right here!
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>How do I sign up?</h5>
				We worked over all the basic elements, including buttons, social buttons, morphing buttons, inputs, headers,
				footers, labels, pagination and many others and made them look outstanding. Everything you need to start your
				website is right here!
			</div>
			<div class="col-md-6">
				<h5>How long are your contracts?</h5>
				We re-styled every Bootstrap element and make it look consistent with each other. We worked over all the basic
				elements, including buttons, headers, footers, labels, pagination and many others and made them look
				outstanding.
			</div>
		</div>
	</div>
</div>

<div class="subscribe-line">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<form class="">
					<div class="form-group">
						<input type="text" value="" class="form-control" placeholder="Enter your email to subscribe...">
					</div>
				</form>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-info btn-fill btn-block">Subscribe!</button>
			</div>
		</div>
	</div>
</div>