extends base
append stylesheets
    link(rel="stylesheet" href="styles/examples.css")

block content
    include navbars/nav-transparent.html
    main.home
        .wrapper
            include sections/header.html
            include sections/description-txt.html
            include sections/team.html
            include sections/features.html
            include sections/gallery.html
            include sections/testimonials.html
            include sections/suscribe-transparent.html
            include sections/contact.html
            include footers/footer-lg.html

block javascript
    script(src="scripts/examples/home.js")