extends ../base
append stylesheets
    link(rel="stylesheet" href="styles/examples.css")

block content
    main.blog-page
        include ../navbars/nav-transparent.html
        .wrapper
            include ../examples/blog-page.html
            include ../footers/footer-lg.html

block javascript
    script(src="scripts/examples/blog-page.js")