extends ../base
append stylesheets
    link(rel="stylesheet" href="styles/examples.css")

block content
    include ../navbars/nav-transparent.html
    .wrapper
        include ../sections/header.html
        include ../footers/footer-sm.html

block javascript
    script(src="scripts/examples/home.js")
